     <!-- Start: slider -->


	<div class="container">
		<div class="row">
			<div class="span8">
			  <div id="heroSlider" class="carousel slide">
				<div class="carousel-inner">
				  
				  <div class="active item">
					  <div class="row-fluid">
						<div class="span12">
						  <%= image_tag "slide1.jpg" %>
						</div>
					</div>
				  </div>

				  <div class="item">
					  <div class="row-fluid">
						<div class="span12">
						  <%= image_tag "slide2.jpg"%>
						</div>
					  </div>
				  </div>
				  <div class="item">
					  <div class="row-fluid">
						<div class="span12">
						  <%= image_tag "slide3.jpg"%>
						</div>
					  </div>                  
					</div>
				</div>
				<a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
			  </div>
			</div>
		  <!-- End: slider -->

		  		<div class="span4">
					<h2 id="ourbest">We are the best at:</h2>
					<ul class="disc" id="best">
						<li>
							<%= link_to "Oven Cleaning", oven_path %>
						</li>
						<li>
							<%= link_to "Shower Cubicle Cleaning", shower_path %>
						</li>
						<li>
							<%= link_to "Toilet Cleaning", toilet_path %>
						</li>
					   <li>
					   		<%= link_to "Cabinet  Cleaning", cabinet_path %>
						</li>
						<li>
							<%= link_to "Closet Cleaning", closet_path %>
						</li>
					</ul>
					<%= link_to "Get a Quote", new_quote_path, :class=>"btn btn-primary" %>
	
				</div>
		  </div>
	</div>

		<!--start: Wrapper-->
	<div id="wrapper">
				
		<!--start: Container -->
    	<div class="container">
	
      		<!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
      		<div id="contactus">
                <p id="tel">Feel free to call 0433022721, 7*24 hours!</p>
                <p id="mail">info@tomdomesticclean.com.au</p>
      		</div>
			<!-- end: Hero Unit -->

      		<!-- start: Row -->
      		<div class="row">
	
        		<div class="span4">
        				<%= image_tag "cleaning1.jpg"%>
						<div class="title"><h4>General House Clean</h4></div>
			
						<p>We offer a professional House Cleaning service throughout the Adelaide area. Our house cleaning service is the best in this industry. With our fully trained team employees, we can provide the following services as requested:</p>
								<ul class="square">
									<li>
										Vacuum all floors
									</li>
									<li>
										Mop hard floors
									</li>
									<li>
										Remove internal cobwebs
									</li>
								   <li>
										Clean all mirrors and glass top surfaces
									</li>
									<li>
										Wipe window ledges
									</li>
									<li>
										Dusting
									</li>
									<li>
										Clean bathrooms including toilets
									</li>
								   <li>
										Clean all mirrors and glass top surfaces
									</li>
									<li>
										Clean light switches, doors and frames
									</li>
									<li>
										Empty rubbish bins
									</li>
								</ul>

							<p>To arrange your local home cleaning franchisee to give you an obligation free quote for your requirements, please call 1232132132 or fill out the <a href="quote.html">enquiry form online</a>. We are by your side everytime.</p>
						<div class="clear"></div>
        		</div>

        		<div class="span4">
        			<%= image_tag "cleaning2.jpg"%>
						<div class="title"><h4>Carpet Cleaning</h4></div>
						<p>A professionally cleaned carpet adds a fresh, clean and hygienic element to your home or office. Our carpet cleaners are trained to handle all aspects of carpet cleaning.  If required, we can use allergy free chemicals, or clean without chemicals, ensuring we provide you with the service you're looking for. Did you know that:</p>
								<ul class="square">
									<li>
										The virus that causes stomach flu can survive on an uncleaned carpet for a month or more.
									</li>
								   <li>
										A person sheds approximately 1.5 million skin flakes an hour, most of which become embedded in our carpets.
									</li>
									<li>
										All carpet should be professionally cleaned a minimum of every 12-18 months.
									</li>
								</ul>

						<p>Forturnately, with us by your side, you don't have to worry about all those things. We can keep them away from you.</p>

						<div class="clear"></div>
        		</div>

        		<div class="span4">
        			<%= image_tag "cleaning3.jpg"%>
						<div class="title"><h4>End of Lease Cleaning</h4></div>
						   <p>There is nothing like the stress of moving out of a home or commercial space, which is why Tom Cleaning is dedicated to providing our clients with quality end of lease cleaning service. When you're moving into a new home or office, you have enough to worry about, so let our cleaners make sure that your former home or office is sparkling clean for any new tenants that might come in. Whether you live in an apartment or a home or a large or small commercial space, with vacate cleaning, we can help ensure that your former property is even cleaner than it was the day you moved in.</p>
						<p>No need to spend hours surfing the internet or flicking through your local newspaper in the hope of finding a cleaner that knows how to do end of lease cleaning. Tom Cleaning saves all your troubles. All you need is contact us right now!</p>
						<div class="clear"></div>
        		</div>

      		</div>
			<!-- end: Row -->
      		
			<hr>
			
	
			
		</div>
		<!--end: Container-->
	
	</div>
	<!-- end: Wrapper  -->			

